<p>Enter your values here.</p>

<div id="entry_form">
  <%= render 'form', :entry => @new_entry %>
</div>

<table>
  <tr id="entries_first_row">
    <th>Date</th>
    <th>Glucose</th>
    <th>Carbohydrates</th>
    <th>Dose</th>
  </tr>
  <%= render @entries %>
</table>
