@import 'bourbon';

header {
  height: 40px;
  background-color: #353a3d;
  @include background(linear-gradient(top, #353a3d 0%, #232628 100%));
}
header a,
header a:link,
header a:visited {
  color: #ffffff;
  border: 1px solid transparent;
  font-family: Arial Black, $helvetica;
  font-weight: bold;
  font-size: 1.1em;
  float: left;
  padding: 10px 27px 9px 27px;
  text-decoration: none;
}
header a:hover {
  color: #ffffff;
  @include background(linear-gradient(top, #434a4e 0%, #505d65 100%));
}
